.hero-img img{
    height: 645px;
}

.text-res h4{
    font-size: 25px;
}
.text-res h1{
    font-size: 58px;
}
.text-res p{
    font-size: 16px;
}

@media screen and (max-height:932px) {

    .hero-img img{
        height: 400px;
        padding-top: 25px;

    }
    
}

@media screen and (max-height:670px) {

    .hero-img img{
        height: 300px;

    }
    
}
@media screen and (max-width:900px) {

    .text-res h4{
        font-size: 25px;
        text-align: center;


    }
    .text-res h1{
        font-size: 35px;
        text-align: center;


    }
    .text-res p{
        font-size: 16px;
        text-align: center;

    }
    
}

@media (max-width: 1025px) {
    .text-res,.hero-img{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .lg\:flex-row {
      flex-direction: column; /* Stack items vertically on smaller screens */
    }
  }