/* .nav-sec{
    height: 100px;

} */


@media screen and (max-width:1024px) {

    .nav-sec{
        height: 80px;

    }
    
}

/* @media screen and (max-width:1540px) {

    .nav-sec{
        height: 80px;

    }
    
} */